@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.eot?") format("eot"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg"); }

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium.eot?") format("eot"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype"), url("../fonts/Montserrat-Medium.svg#Montserrat-Medium") format("svg"); }

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.eot?") format("eot"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg#Montserrat-Bold") format("svg"); }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 25px;
  font-family: "Montserrat-Medium";
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: 500; }
  @media only screen and (max-width: 1024px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0 0 15px; } }

h1 {
  font-size: 52px; }
  @media only screen and (max-width: 1024px) {
    h1 {
      font-size: 48px; } }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

h2 {
  font-size: 52px; }
  @media only screen and (max-width: 768px) {
    h2 {
      font-size: 48px; } }
  @media only screen and (max-width: 640px) {
    h2 {
      font-size: 26px; } }

p {
  margin: 0 0 7px; }

a {
  text-decoration: none;
  color: inherit; }

.clearfix:after {
  content: ' ';
  display: block;
  clear: both; }

.d-f {
  display: flex; }
  @media only screen and (max-width: 640px) {
    .d-f {
      flex-direction: column; } }

.jc-between {
  justify-content: space-between; }

.ai-center {
  align-items: center; }

button {
  border: none;
  background: none;
  cursor: pointer; }

.btn {
  border-radius: 30px;
  background-color: #ef857d;
  font-family: "Montserrat-Bold";
  font-size: 18px;
  color: #fff;
  padding: 15px 30px;
  transition: opacity 0.3s ease-out;
  white-space: nowrap; }
  @media only screen and (max-width: 640px) {
    .btn {
      width: 100%;
      padding: 0;
      height: 44px; } }
  @media only screen and (max-width: 640px) {
    .btn {
      height: 44px; } }
  .btn:hover {
    opacity: 0.5; }
  .btn-submit, .btn-cansel {
    width: 191px;
    padding: 0;
    height: 52px; }
    @media only screen and (max-width: 640px) {
      .btn-submit, .btn-cansel {
        height: 44px;
        width: 100%; } }
  .btn-cansel {
    border: 1px solid #fff;
    background: none;
    width: 189px;
    height: 50px; }
    @media only screen and (max-width: 640px) {
      .btn-cansel {
        width: 100%;
        height: 42px; } }

input {
  background: none;
  border: none;
  font-family: "Montserrat-Medium";
  font-size: 18px;
  color: #fff;
  outline: none;
  width: 100%;
  height: 100%;
  font-weight: 500; }
  @media only screen and (max-width: 640px) {
    input {
      font-size: 14px; } }
  input::placeholder {
    font-family: "Montserrat-Medium";
    font-size: 18px;
    color: #fff; }

body {
  font-size: 20px;
  color: #000;
  line-height: 28px;
  font-family: "Montserrat-Medium"; }

.wrapper {
  position: relative;
  overflow: hidden; }

.container {
  padding: 0 calc(100vw - 85%);
  width: 100%;
  align-items: flex-start;
  margin: 0 auto;
  box-sizing: border-box; }
  @media only screen and (max-width: 1440px) {
    .container {
      padding: 0 50px; } }
  @media only screen and (max-width: 768px) {
    .container {
      padding: 0 25px; } }
  @media only screen and (max-width: 640px) {
    .container {
      padding: 0 20px; } }

.container-fluid {
  padding: 0 calc(100vw - 85%);
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box; }
  @media only screen and (max-width: 1440px) {
    .container-fluid {
      padding: 0 50px; } }
  @media only screen and (max-width: 640px) {
    .container-fluid {
      padding: 0 20px; } }

/* header */
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 103px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
  z-index: 2;
  box-sizing: border-box; }
  @media only screen and (max-width: 640px) {
    .header .container-fluid {
      display: block; } }
  @media only screen and (max-width: 640px) {
    .header .holder-logo {
      padding-top: 35px; } }
  @media only screen and (max-width: 640px) {
    .header .holder-logo {
      align-items: inherit; } }
  .header .holder-logo .logo {
    display: block;
    width: 228px;
    height: 37px;
    background: url(../image/logo_white.svg) no-repeat;
    object-fit: contain; }
  @media only screen and (max-width: 640px) {
    .header .holder-menu {
      display: none; } }
  .header .holder-menu-list {
    margin: 0 -38px 0 0; }
    .header .holder-menu-list li {
      height: 102px;
      padding: 0 38px;
      border-left: 1px solid rgba(255, 255, 255, 0.07);
      display: flex;
      align-items: center; }
      .header .holder-menu-list li .icon {
        width: 26px;
        height: 26px;
        color: #fff;
        font-size: 26px; }
    @media only screen and (max-width: 479px) {
      .header .holder-menu-list {
        display: none; } }

main {
  min-height: 100%; }

/* section */
.section {
  display: flex !important;
  align-items: flex-end;
  position: relative;
  height: 100vh;
  /* home */
  /* gallery */
  /* forma */
  /* sub */ }
  @media only screen and (max-width: 640px) {
    .section {
      display: block; } }
  @media only screen and (max-width: 640px) {
    .section {
      height: auto !important; } }
  .section .holder-text {
    align-items: flex-start;
    text-align: left;
    margin-right: 70px;
    order: 1; }
    @media only screen and (max-width: 1024px) {
      .section .holder-text {
        margin-right: 30px; } }
    @media only screen and (max-width: 640px) {
      .section .holder-text {
        margin-right: 0;
        padding-top: 20px; } }
    .section .holder-text .num {
      font-family: "Montserrat-Medium";
      font-size: 136px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ea9b7c;
      margin-bottom: 34px;
      display: block;
      margin-top: -36px; }
      @media only screen and (max-width: 1024px) {
        .section .holder-text .num {
          font-size: 124px;
          margin-bottom: 24px;
          margin-top: -31px; } }
      @media only screen and (max-width: 640px) {
        .section .holder-text .num {
          font-size: 68px;
          margin-bottom: 18px;
          margin-top: 0; } }
    .section .holder-text .white {
      color: #fff; }
    .section .holder-text h3 {
      font-family: "Montserrat-Medium";
      font-size: 48px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #111111;
      margin-bottom: 30px; }
      @media only screen and (max-width: 1024px) {
        .section .holder-text h3 {
          margin-bottom: 20px;
          font-size: 48px; } }
      @media only screen and (max-width: 768px) {
        .section .holder-text h3 {
          font-size: 34px; } }
      @media only screen and (max-width: 640px) {
        .section .holder-text h3 {
          font-size: 26px; } }
    .section .holder-text p {
      font-size: 24px;
      color: #000000;
      line-height: 34px; }
      @media only screen and (max-width: 1024px) {
        .section .holder-text p {
          font-size: 18px;
          line-height: 24px;
          margin: 0 0 15px; } }
      @media only screen and (max-width: 768px) {
        .section .holder-text p {
          font-size: 14px;
          line-height: 22px; } }
  .section .holder-image {
    order: 2;
    align-self: flex-end;
    flex: 0 0 38%; }
    @media only screen and (max-width: 1024px) {
      .section .holder-image {
        flex: 0 0 48%; } }
    @media only screen and (max-width: 768px) {
      .section .holder-image {
        flex: 0 0 48%; } }
    .section .holder-image img {
      width: 100%;
      display: block; }
  .section .holder-input {
    height: 52px;
    border-radius: 4px;
    border: solid 1px #fff;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 21px 0 0;
    text-align: left;
    padding: 0 20px; }
    @media only screen and (max-width: 640px) {
      .section .holder-input {
        margin: 0 0 20px; } }
    @media only screen and (max-width: 640px) {
      .section .holder-input {
        height: 44px; } }
  .section .form {
    padding-top: 20px;
    margin-bottom: 30px; }
    @media only screen and (max-width: 640px) {
      .section .form {
        display: block; } }
    @media only screen and (max-width: 640px) {
      .section .form {
        padding-top: 0; } }
  .section-home {
    background-color: #00b6ae;
    padding-top: 103px;
    box-sizing: border-box; }
    @media only screen and (max-width: 768px) {
      .section-home h1 {
        font-size: 38px; } }
    @media only screen and (max-width: 479px) {
      .section-home h1 {
        font-size: 28px; } }
    @media only screen and (max-width: 640px) {
      .section-home .container {
        display: block; } }
    .section-home .holder-text {
      color: #fff;
      position: relative;
      z-index: 1;
      padding-top: 20px; }
      .section-home .holder-text p {
        font-family: "Montserrat-Regular";
        font-size: 18px;
        color: #fff;
        margin-bottom: 20px;
        line-height: 24px; }
        @media only screen and (max-width: 1024px) {
          .section-home .holder-text p {
            margin-bottom: 15px; } }
        @media only screen and (max-width: 768px) {
          .section-home .holder-text p {
            font-size: 14px;
            line-height: normal; } }
    @media only screen and (max-width: 768px) {
      .section-home .holder-image {
        flex: 0 0 48%; } }
  .section-box {
    background-color: #fff; }
  .section-gallery {
    background-color: #f6f6f6;
    align-items: center; }
    @media only screen and (max-width: 640px) {
      .section-gallery {
        height: 100vh !important; } }
    .section-gallery .slick {
      width: 100%; }
    .section-gallery .slick-dots {
      position: absolute;
      bottom: 29px;
      width: 100%; }
      .section-gallery .slick-dots ul {
        width: 100%;
        display: inline-block;
        text-align: center; }
        .section-gallery .slick-dots ul li {
          display: inline-block;
          width: 11px;
          height: 11px;
          margin: 0 8px; }
          .section-gallery .slick-dots ul li button {
            cursor: pointer;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            text-indent: -9999px;
            display: inline-block;
            background-color: #bfbfbf;
            outline: none;
            padding: 0; }
        .section-gallery .slick-dots ul .slick-active button {
          background-color: #00b6ae; }
    .section-gallery .holder-text {
      margin: 0 auto;
      text-align: center;
      width: 100%;
      background-color: #f6f6f6;
      font-family: "Montserrat-Medium"; }
      .section-gallery .holder-text blockquote {
        padding: 0 33%; }
        @media only screen and (max-width: 1440px) {
          .section-gallery .holder-text blockquote {
            padding: 0 17%; } }
        @media only screen and (max-width: 768px) {
          .section-gallery .holder-text blockquote {
            padding: 0 5%; } }
        @media only screen and (max-width: 640px) {
          .section-gallery .holder-text blockquote {
            padding: 0; } }
      .section-gallery .holder-text blockquote p {
        font-size: 48px;
        color: #111111;
        line-height: normal;
        margin-bottom: 60px; }
        @media only screen and (max-width: 1024px) {
          .section-gallery .holder-text blockquote p {
            font-size: 34px; } }
        @media only screen and (max-width: 640px) {
          .section-gallery .holder-text blockquote p {
            font-size: 26px; } }
      .section-gallery .holder-text cite {
        font-size: 18px;
        font-style: normal;
        color: #000000; }
  .section-box_colorPink {
    background-image: linear-gradient(to bottom, #fa9d92, #fdccc4); }
  .section-box_colorBlue {
    background-image: linear-gradient(to bottom, #81e5e0, #c8fefc); }
  .section-forma {
    background-color: #00b6ae;
    text-align: center;
    color: #fff;
    align-content: center;
    align-items: center; }
    @media only screen and (max-width: 768px) {
      .section-forma .container {
        justify-content: center;
        height: 100vh;
        flex-direction: column; } }
    .section-forma .form {
      margin: 0 auto;
      max-width: 596px; }
      .section-forma .form h2 {
        margin-bottom: 28px; }
        @media only screen and (max-width: 768px) {
          .section-forma .form h2 {
            margin-bottom: 18px;
            font-size: 34px; } }
        @media only screen and (max-width: 640px) {
          .section-forma .form h2 {
            margin-bottom: 18px;
            font-size: 26px; } }
      .section-forma .form p {
        margin-bottom: 52px; }
        @media only screen and (max-width: 768px) {
          .section-forma .form p {
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 32px; } }
    .section-forma .holder-input {
      max-width: 596px;
      margin: 0 auto 28px; }
      @media only screen and (max-width: 768px) {
        .section-forma .holder-input {
          height: 44px;
          margin: 0 auto 20px; } }
      .section-forma .holder-input-checkbox {
        margin: 0 0 28px; }
        @media only screen and (max-width: 768px) {
          .section-forma .holder-input-checkbox {
            margin: 0 0 18px; } }
        .section-forma .holder-input-checkbox label {
          display: inline-block;
          position: relative;
          padding-left: 35px;
          margin-bottom: 19px;
          cursor: pointer;
          font-size: 18px;
          line-height: 24px;
          text-align: left; }
          @media only screen and (max-width: 768px) {
            .section-forma .holder-input-checkbox label {
              margin-bottom: 15px; } }
          @media only screen and (max-width: 768px) {
            .section-forma .holder-input-checkbox label {
              font-size: 14px;
              line-height: 22px;
              margin-bottom: 5px; } }
          .section-forma .holder-input-checkbox label input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0; }
          .section-forma .holder-input-checkbox label .checkmark {
            position: absolute;
            top: 4px;
            left: 0;
            height: 18px;
            width: 18px;
            border: 1px solid #fff;
            border-radius: 1px; }
          .section-forma .holder-input-checkbox label .checkmark:after {
            content: '';
            position: absolute;
            display: none; }
          .section-forma .holder-input-checkbox label input:checked ~ .checkmark:after {
            display: block; }
          .section-forma .holder-input-checkbox label .checkmark:after {
            left: 6px;
            top: 2px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
    .section-forma .holder-button {
      justify-content: center; }
      @media only screen and (max-width: 640px) {
        .section-forma .holder-button {
          justify-content: space-between;
          flex-direction: inherit; } }
      .section-forma .holder-button button {
        margin: 0 10px 20px; }
        @media only screen and (max-width: 640px) {
          .section-forma .holder-button button {
            margin: 0 10px 10px; } }
  .section-sub {
    background: url(../image/background.jpg) no-repeat;
    background-size: cover;
    align-items: center; }
    @media only screen and (max-width: 768px) {
      .section-sub .container {
        justify-content: center;
        height: 100vh;
        flex-direction: column; } }
    .section-sub .holder-text {
      border-radius: 23px;
      background-image: linear-gradient(119deg, #fa508c, #ffc86e);
      text-align: center;
      padding: 44px 30px 36px;
      margin: 0 auto;
      max-width: 744px; }
      @media only screen and (max-width: 640px) {
        .section-sub .holder-text {
          padding: 24px 11px 16px;
          max-width: -webkit-fill-available; } }
      .section-sub .holder-text h2 {
        color: #fff;
        margin-bottom: 12px; }
        @media only screen and (max-width: 768px) {
          .section-sub .holder-text h2 {
            font-size: 34px; } }
        @media only screen and (max-width: 640px) {
          .section-sub .holder-text h2 {
            font-size: 28px; } }
      .section-sub .holder-text h4 {
        font-family: "Montserrat-Medium";
        font-size: 28px;
        color: #fff;
        margin-bottom: 34px;
        font-weight: 500; }
        @media only screen and (max-width: 768px) {
          .section-sub .holder-text h4 {
            font-size: 18px;
            line-height: 24px; } }
      .section-sub .holder-text p {
        font-family: "Montserrat-Medium";
        font-size: 20px;
        line-height: 28px;
        color: #000000;
        margin-bottom: 72px;
        font-weight: 500; }
        @media only screen and (max-width: 1024px) {
          .section-sub .holder-text p {
            font-size: 18px; } }
        @media only screen and (max-width: 640px) {
          .section-sub .holder-text p {
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 42px; } }
    .section-sub .holder-img {
      justify-content: center; }
      @media only screen and (max-width: 640px) {
        .section-sub .holder-img {
          justify-content: center;
          flex-direction: inherit; } }
      .section-sub .holder-img img {
        display: inline-block;
        margin: 0 10px;
        width: 192px;
        height: 60px; }
        @media only screen and (max-width: 640px) {
          .section-sub .holder-img img {
            width: 118px;
            height: 37px;
            margin: 0 6px; } }
  .section .reverse-order .holder-image {
    order: 1;
    margin-right: 70px; }
    @media only screen and (max-width: 1024px) {
      .section .reverse-order .holder-image {
        margin-right: 30px; } }
    @media only screen and (max-width: 640px) {
      .section .reverse-order .holder-image {
        order: 2;
        margin-right: 0; } }
  .section .reverse-order .holder-text {
    order: 2; }
    @media only screen and (max-width: 640px) {
      .section .reverse-order .holder-text {
        order: 1; } }

/* footer */
.footer {
  background-color: #ef857d;
  padding-bottom: 50px; }
  @media only screen and (max-width: 479px) {
    .footer {
      text-align: center; } }
  @media only screen and (max-width: 479px) {
    .footer .container-fluid {
      flex-direction: column; } }
  .footer .holder-logo {
    padding-top: 28px; }
    .footer .holder-logo .logo {
      display: block;
      width: 228px;
      height: 37px;
      background: url(../image/logo_white.svg) no-repeat;
      object-fit: contain; }
  .footer .holder-menu-list {
    margin: 0 -38px 0 0;
    padding: 0;
    list-style: none; }
    @media only screen and (max-width: 640px) {
      .footer .holder-menu-list {
        flex-direction: inherit;
        padding-top: 30px;
        margin: 0; } }
    .footer .holder-menu-list li {
      height: 102px;
      padding: 0 38px;
      border-left: 1px solid rgba(255, 255, 255, 0.07);
      display: flex;
      align-items: center; }
      @media only screen and (max-width: 479px) {
        .footer .holder-menu-list li {
          border-left: none;
          padding: 0 10px;
          height: auto; } }
  .footer .icon {
    width: 26px;
    height: 26px;
    color: #fff;
    font-size: 26px;
    transition: opacity 0.3s ease-out; }
    .footer .icon:hover {
      opacity: 0.5; }
  .footer .box-top {
    border-bottom: solid 1px rgba(255, 255, 255, 0.07);
    margin-bottom: 25px;
    height: 105px; }
    @media only screen and (max-width: 479px) {
      .footer .box-top {
        border-bottom: none;
        height: auto; } }
    @media only screen and (max-width: 479px) {
      .footer .box-top {
        flex-direction: column; } }
  .footer .box-bottom {
    padding-bottom: 59px; }
    @media only screen and (max-width: 479px) {
      .footer .box-bottom {
        flex-direction: column; } }
    .footer .box-bottom .list {
      margin: 0;
      padding: 0;
      list-style: none; }
      @media only screen and (max-width: 479px) {
        .footer .box-bottom .list {
          margin-bottom: 20px; } }
      .footer .box-bottom .list li {
        padding: 0 20px 0 0; }
        @media only screen and (max-width: 640px) {
          .footer .box-bottom .list li {
            padding: 0; } }
        .footer .box-bottom .list li a {
          font-family: "Montserrat-Medium";
          font-size: 14px;
          letter-spacing: 1px;
          color: rgba(255, 255, 255, 0.5);
          font-weight: 500;
          transition: opacity 0.3s ease-out; }
          .footer .box-bottom .list li a:hover {
            opacity: 0.5; }
    .footer .box-bottom .copy {
      margin: 0;
      font-family: "Rubik", sans-serif;
      font-size: 14px;
      letter-spacing: 1px;
      color: rgba(255, 255, 255, 0.5); }
