$FontRubik: 'Rubik', sans-serif;
$FontMontserratRegular: 'Montserrat-Regular';
$FontMontserratMedium: 'Montserrat-Medium';
$FontMontserratBold: 'Montserrat-Bold';
$FontSize: 20px;
$mainColor: #000;
$mainLineHeight: 28px;
$colorPink: linear-gradient(to bottom, #fa9d92, #fdccc4);
$colorBlue: linear-gradient(to bottom, #81e5e0, #c8fefc);
